<template>
  <a v-on:click.prevent="setActive(label)">{{ label }}</a>
</template>

<script> // :class="$style.menuItem"
import '../themes/cinepax/variables.css';
import StarzBase from './StarzBase.vue';
export default {
  extends: StarzBase,
  name: 'StarzMenuItem',
  props: ['label'],
  data () {
    return {
      // label: 'Click'
    }
  },
  methods: {
    isActive: function (menuItem) {
      return this.activeItem === menuItem;
    },
    setActive: function (menuItem) {
      console.log(menuItem);
      this.activeItem = menuItem;
    }
  }
}
</script>
<style scoped>
  .menuItem, a {
    width: 115px;
    height: 60px;
    line-height: 60px;
    color: white;
    background-color: var(--buttonBgColor);
    text-align: center;
    box-shadow: inset 0 0 0 3px transparent;
    transition: box-shadow .2s linear;
    background-size: cover;
    font-weight: 700;
    font-size: 1em;
    &:hover {
      box-shadow: inset 0px 0px 0px 3px #f1f1f1;
    }
  }
</style>
