<template>
  <nav>
    <ul>
      <li v-for="item in menuItems">
        <starz-menu-item :label="item.label"></starz-menu-item>
      </li>
    </ul>
  </nav>
</template>

<script>
import StarzMenuItem from './StarzMenuItem.vue';

export default {
  components: {
    StarzMenuItem
  },
  name: 'StarzMenu',
  data () {
    return {
      menuItems: [
        { label: 'home' },
        { label: 'movies' },
        { label: 'series' },
        { label: 'kids' },
        { label: 'settings' },
      ],
      msg: `Demo Starz Components`
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
</style>
