<template>
</template>

<script>
export default {
  computed: {
    customize() {
      return () => {
        import(`../themes/${process.env.theme}/index.css`);
        import(`../flavours/${process.env.flavour}.css`);
      }
    }
  },
  created: function () {
    this.customize();
  }
}
</script>
