<template>
  <div id="app" :theme=theme :flavour=flavour>
    <!--  img src="./assets/logo.png" -->
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {

    }
  },
  props: ['theme', 'flavour']
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  /* color: #999; */
  margin-top: 60px;
}
</style>
